@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.font-lg{
  font-size:30px;
}
.font-md{
  font-size:20px;
}

.text-small{
  font-size: 13px;
}

.bg-light-blue {
  background-color: #eef2f4;
}

.bg-blue {
  background-color: #0a84da;
}

.main-body {
  background-color: #eef2f4;
}
.logo-font {
  font-size: 20px;
}

.active-text{
  color: #0a84da;
  font-weight: bold;
  text-decoration: underline;
}

.text-gray {
  color: #3b4247;
}
.text-blue {
  color: #0a84da;
}

.text-red{
    color: #fe4d2e;
}
.search-box {
  width: 600px;
  background: #eef2f4;
}
.btn-primary {
  background-color: #0a84da;
  border: none;
}
.active-badge {
  background-color: #e5fff3;
  border: 1px solid #08ae7f;
  color: #08ae7f;
  padding: 8px;
  border-radius: 20px;
}
.inactive-badge {
  background-color: #fff2dd;
  border: 1px solid #e4930f;
  color: #e4930f;
  border-radius: 20px;
  padding: 8px;
}

.pending-badge {
  background-color: #ffeeeb;
  border: 1px solid #fe4d2e;
  color: #fe4d2e;
  border-radius: 20px;
  padding: 8px;
}

.btn-success{
background-color: #08ae7f!important;
 border: 1px solid #08ae7f;
 border-radius: 40px;
}

.btn-danger{
 border-radius: 40px;
}


.table-bordered {
  border: 1px solid #e6e6e6;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
  border-bottom: 1px solid rgb(0 0 0 / 15%);

}
thead > tr {
  background: #eef2f4;
}
table.dataTable > tbody > tr {
  background-color: #fff !important;
}


div.dt-container .dt-paging .dt-paging-button.current{
    background-color: #bcdef7!important;
    border-radius: 40px;
    border: 1px solid #0a84da!important;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > *{
  border-bottom: none;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
    border-bottom: 1px solid rgb(0 0 0 / 8%)!important;
}

#myTable,#PaymentHistoryTable,
#CustomerListTable,#RecentPaymentTable {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  border-bottom: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #dee2e6 1px!important;
    outline: 0;
    background: #eef2f4!important;
}

.select2-container--default .select2-selection--multiple {
    background-color: #eef2f4!important;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;


}

.select2-container .select2-selection--multiple {
    min-height: 32px!important;
    margin-top: 15px!important;
     overflow-y: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #FFF!important;
    border: 1px solid #aaa!important;
    border-radius: 25px!important;
}





/****Customer Detail Page*****/
.card-header-title-contanier{
  border-bottom: 1px solid rgb(215, 215, 215);
}

.customer-body-detail{
  border: 1px solid #0a84da;
  padding: 24px;
  border-radius: 20px;
  background-color: #f1f8fc;
}

.qr-img-section{
  text-align: left;
}

.customer-basic-details,
.customer-plan-details,
.customer-addOn-plan{
 margin-top: 32px;
}

  .qr-img{
  object-fit: contain;
  margin-bottom: 32px;
}



/****Dashboard Page*****/


.total-customer-card,.upcoming-dues{
  background-color: #EAF6FF;
  border:1px solid #0a84da;
}

.inactive-customer-card{
  background-color: #FFF0D9;
  border: 1px solid #e4930f;
}

.active-customer-card,.revenue-card{
  background-color: #EAFFF9;
  border: 1px solid #08AE7F;
}

.over-due-card{
  background-color: #FFEEEB;
  border:1px solid #fe4d2e;
}


.total-customer-icon-box,
.upcoming-customer-icon-box{
 padding: 10px;
 background-color: #0a84da;
 border-radius: 10px;
 text-align: center;
 color: #FFF;
 width: 50px;
}


.active-customer-icon-box,
.revenue-customer-icon-box{
padding: 10px;
 background-color: #08AE7F;
 border-radius: 10px;
 text-align: center;
 color: #FFF;
 width: 50px;
}

.inactive-customer-icon-box{
  padding: 10px;
  background-color: #e4930f;
  border-radius: 10px;
 text-align: center;
 color: #FFF;
 width: 50px;
}

.over-due-customer-icon-box{
    padding: 10px;
  background-color:#fe4d2e;
  border-radius: 10px;
 text-align: center;
 color: #FFF;
 width: 50px;
}
/* .qr-download-btn{
    width: 77%;
}  */

@media(max-width:900px){
    .search-box{
        width: 100%;
        margin-bottom: 32px;
    }
  .filter-section{
    flex-direction: column;
  }
  .btn{
    font-size: 12px;
  }
  .title{
    font-size: 15px;
  }

  .filter-date-section{
    width: 100%;
  }
.logo-font{
  font-size: 16px;
}

}