{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Success{% endblock %}
{% block content %}
<img src="{% static 'images/success-img.gif' %}" alt="Success">

<div class="success-payment-card">
    <div class="animated-pay-circle">
        <img src="{% static 'images/checkmark.gif' %}" alt="" class="success-img">
    </div>

    <div class="success-content">
        <h3 class="mb-2 fw-bold">Payment is Complete</h3>
        <h5 class="mb-3">Paid Amount: <span class="fw-bold">₹{{ payment.amount }}</span></h5>

        <div class="d-flex justify-content-center flex-column mb-3">
            <p class="fw-bold mb-2">Last Payment</p>
            <p class="mb-2">Rs:{{ payment.amount }} on {{ payment.payment_date|date:"F d, Y" }}</p>
        </div>

        <div class="d-flex justify-content-center flex-column mb-3">
            <p class="fw-bold mb-2">Transaction ID</p>
            <p class="mb-2">{{ payment.upi_transaction_id }}</p>
            <p class="mb-2 fw-bold">via {{ payment_method }}</p>
        </div>

        <div class="d-flex justify-content-center flex-column mb-3">
            <p class="fw-bold mb-2">Next Due</p>
            <p class="mb-2">{{ next_due_date|date:"F d, Y" }}</p>
        </div>

        <div class="d-flex flex-column">
            <div class="mb-3">
                <a href="{% url 'dashboard' %}" class="btn btn-dark w-100 text-white go-back-btn">Go back to Dashboard</a>
            </div>
            <div class="mb-3">
                <a href="{{ payment.receipt_file.url }}" class="btn btn-light w-100 text-success go-back-btn">
                    <i class="fa-solid fa-download"></i> Download Receipt
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
